:root {

    --lighter: #eff0f9;
    --light: #EBEDFB;
    --grey-100: #9AA2A9;
    --grey-300: #707A85;
    --grey-400: #5E686D;
    --dark: #1A2022;
    --accent: #D0071E;

}

body {
    background-color: var(--lighter);
    color: var(--dark);
    font-family: 'Be Vietnam Pro', sans-serif;
}

#accent {
  color: var(--accent);
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.sm-title {
  font-size: 14px;
  color: var(--grey-100);
  font-weight: 400;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */

  padding-top: 2em;
  padding-left: 2em;
  border-right: 0.5px solid var(--grey-100);
  display: flex;
  flex-direction: column;
  gap: 2em;

  /* so padding wont change fixed width */
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;      
}

/* The navigation menu links */
.sidenav a {
  font-size: 16px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: var(--grey-100);
  display: block;
}

.sidenav a.active {
  color: var(--accent);
  border-right: 5px solid var(--accent);
}

.nav-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.nav-icon {
  font-size: 20px;
  padding-right: 1em;
}



/* Style page content */
.main {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0px 40px;
}

/* User Avatar IMG */

#avatar-img {
  padding-top: 10%;
  height: 80%;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  border-radius: 50%;
}

a:hover {
  color: var(--accent);
}

.lg {
  height: 200px;
  width: 200px;
}

.med { 
  height: 100px;
  width: 100px;
}

.sm {
  height: 50px;
  width: 50px;
}

/* Search Bar */

.search-container {
  display: inline-flex;
  flex-wrap: wrap;
}

.search-container input[type=text] {
  margin: 0;
  padding: 0.7em;
  padding-right: 3em;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.search-container input[type=text]::placeholder {
  font-size: 12px;
}

.search-container button {
  /* margin-left: -0.5em; */
  padding: 0.7em;
  background: var(--grey-100);
  color: var(--light);
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.search-container button:hover {
  background: var(--accent);
  color: var(--light);
}


/* Flash Message Alert */

#alert {
  z-index: 1;
  animation: fadeOut 5s linear forwards;

  background: rgb(249, 247, 247);

  box-shadow: 3px 6px 12px 4px rgba(0,0,0,0.14);
  border-radius: 10px;

  color: rgb(48, 48, 48);
  display: block; 
  position: absolute; 
  height: 10%; 
  width: 30%; 
} 

@keyframes fadeOut {
  0% 	{ opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; transform: translateY(0px);}
  99% { opacity: 0; transform: translateY(-30px);}
  100% { opacity: 0;}
}





