/* Slideshow */


.rounded {
  border-radius: 30px;
  box-shadow: 1px 14px 17px -8px rgba(0,0,0,0.19);
}

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 90%;
  }

.slideshowSlider {
    /* shows first div, prevents wrapping to next line  */
    white-space: nowrap; 
    transition: ease 1000ms;
}
  
.slide {
    display: inline-block;
    height: 500px;
    width: 100%;
    border-radius: 40px;
    position: relative;
}

.slide a {
  color: var(--light);
  text-decoration: none;
  line-height: 0.5em;
  position: absolute;
  bottom: 3em;
  left: 3em
}

.slide a:hover {
  color: var(--accent);
}

/* Buttons */
.slideshowDots {
    text-align: center;

  }
.slideshowDot {
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
}

.slideshowDot.active {
    background-color: var(--accent);
  }

