#genre {
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 5px;
  }
 #genre.on {
    background-color: var(--accent);
    color: var(--lighter);
  }
 #genre.off {
    background-color: var(--grey-50);
    color: var(--dark);
  }

#sortSelect {
  font-size: 17px;
  padding: 0.5em;
  border: 1px solid var(--grey-50);
  border-radius: 10px;
}

.flex-gap {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

.pagination {
  display: inline-block;
}

.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination button.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination button:hover:not(.active):enabled {background-color: #ddd;}


#pl-info-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.data{
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
  padding: 2em 10%;
  padding-bottom: 3em;
  background-color: var(--lighter);
}

.data-item {
  color: var(--light);
}

.poster-img {
  height: 20em;
  border-radius: 10px;
}

.thin {
  font-weight: 100;
}
a {
  text-decoration: none;
}
.light {
  color: var(--light);
}
.grey-100 {
  color: var(--grey-100);
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0.25em 2em;

  border: none;
  border-radius: 5px;

  line-height: 0;
  font-size: 17px;
  font-weight: 200;

  background: var(--light);
  color: var(--grey-400);
}

.icon-button:hover {
  background: var(--accent);
  color: var(--light);
}

.card {
  border-radius: 10px;
  box-shadow: 1px 14px 17px -8px rgba(0,0,0,0.19);
  background-color: var(--lighter);
  overflow: hidden;
  transition: all .2s ease-in-out;
  text-align: center;
  width: 10em;
}

.card a {
  color: var(--dark);
}

.card a:hover {
  color: var(--accent);
}

.card:hover {
  transform: scale(1.08); 
}

.cast-img {
  overflow: hidden;
  width: 10em;
  height: 13em;
}

.kdrama-img {
  overflow: hidden;
  width: 10em;
  height: 14em;
}

.card-text {
  padding-inline: 1em;
  line-height: 1.25em;
  font-size: 14px;
}

.center {
  margin: auto;
}

@media only screen and (max-width: 1000px) {
  .data {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
  }
}

@media only screen and (max-width: 1200px) {
  .buttons {
    flex-direction: column;
  }
}

#table th, #table td {
  padding: 1em;
}






