a#card {
    background-color: navy;
    text-decoration: none;
    text-align: center;
    color:white;
    padding: 2em;
    width: 20%;  
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

