#pl-card {
    display: flex;
    flex-direction: column;
    background-color: navy;
    text-decoration: none;
    padding-inline: 1em;
    padding-top: 5em;
    width: 20%;  
    border-radius: 10px;
    line-height: 1em;
    gap: 0;
}

#pl-card a{
    color: var(--light);
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

#text-review {
    padding: 1em;
    height: 6em;
    font-size: 1em;

    color: var(--dark);
    font-family: 'Be Vietnam Pro', sans-serif;

    border: 1px solid var(--grey-100);
    border-radius: 5px;
}

.edit-btn {
    align-self: center;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;

    font-size: 0.8em;
    font-weight: 200;
    background-color: var(--accent);
    color: var(--lighter);
}

.done {
    background-color: var(--accent-lt);
}


