<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- Load React dependencies  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Include any page-specific JavaScript using this block. -->
    {% block js %}
    {% endblock %}
    <script src="/static/js/autocomplete.jsx" type="text/jsx"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">


    <!-- Include any page-specific CSS using this block. -->
    {% block css %}
    {% endblock %}


    <!-- Include any page-specific data attributes using this block. -->
    {% block data_attributes %}
    {% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/def9ea2d86.js" crossorigin="anonymous"></script>
</head>
<body>
    {% for msg in get_flashed_messages() %}
    <div id="alert"> <p class="alert">{{msg}}</p> </div>
    {% endfor %}

    {% set active_page = active_page|default('') -%}
    <!-- Navbar -->
    <div class="sidenav">
        <h2>Koreview<span id='accent'>.</span></h2>
        <div class='nav-section'>
            <span class='sm-title'>Menu</span>
            <a href="/" {% if active_page == 'home' %} class="active"{% endif%}>
                <i class="fas fa-home nav-icon"></i> <span class='nav-title'> Home</span></a>
            <a href="/discover" {% if active_page == 'discover' %} class="active"{% endif%}>
                <i class="fas fa-compass nav-icon"></i> <span class='nav-title'> Discover</span></a>
            <a href="/users" {% if active_page == 'users' %} class="active"{% endif%}>
                <i class="fas fa-user-friends nav-icon"></i> <span class='nav-title'> Users</span></a>
        </div>

        <div class='nav-section'>
            <span class='sm-title'>General</span>
            {% if session.get('user_id')%}
    
            <a href="/account" {% if active_page == 'account' %} class="active"{% endif%}>
                <i class="fas fa-user-circle nav-icon"></i> <span class='nav-title'> Account</span></a>
            <a href="/logout" ><i class="fas fa-sign-out-alt nav-icon"></i> <span class='nav-title'> Logout</span></a>
    
            {%endif%}
            {% if not session.get('user_id')%}
            <a href="/login" {% if active_page == 'login' %} class="active"{% endif%}>
                <i class="fas fa-sign-in-alt nav-icon"></i><span class='nav-title'> Logout</span></a>
            </a>
            {% endif %}
        </div>

    </div>

    <!-- Include the page's content with this block. -->
    <div class='main'>
        <div class='header'>
        <div class="search-container">
        </div>

        {% if session.get('user_id')%}
        <a href='/account'>
            <div style='display: flex; align-items: center; gap: 1em;'>
                <div class='avatar sm' >
                    <img id='avatar-img' src={{session.get('user_image_path')}}/> </div>
                <span >{{session.get('username')}}</span> 
        </div></a> 
        {% endif %}

        </div>
        
        {% block body %}
        {% endblock %}
    </div>


</body>
</html>
