{% extends 'base.html' %}

{% block title %}Koreview{% endblock %}

{% block css %}
<link href="/static/css/kdrama.css" rel="stylesheet">
{% endblock %}


{% block js %}
<script src="/static/js/kdramaInfo.jsx" type="text/jsx"></script>
<script src="/static/js/userreviews.jsx" type="text/jsx"></script>
<script src="/static/js/playlistModal.jsx" type="text/jsx"></script>
{% endblock %}

{% block data_attributes %}
<meta id='data' data-kdrama_id={{kdrama_id}}
                data-api_key={{api_key}}>
{% endblock %}

{% block body %}

<div>
   <div id='add_to_playlist'>
   </div>
   <div class='content'>
   </div>
   <div class='user_revs'>
   </div>
</div>

{% endblock %}