{% extends 'base.html' %}

{% block title %}Koreview{% endblock %}

{% block css %}
<link href="/static/css/kdrama.css" rel="stylesheet">
{% endblock %}


{% block js %}
<script src="/static/js/kdramaInfo.jsx" type="text/jsx"></script>
<script src="/static/js/kdramaReviews.jsx" type="text/jsx"></script>
<script src="/static/js/playlistModal.jsx" type="text/jsx"></script>
<script src="/static/js/trailerModal.jsx" type="text/jsx"></script>
{% endblock %}

{% block data_attributes %}
<meta id='data' data-kdrama_id={{kdrama_id}}
                data-api_key={{api_key}}>
{% endblock %}

{% block body %}

<div>
   <div class='content'>
      <div id='add_to_playlist'></div>
      <div id='play_trailer'> </div>
   </div>
   <div id='kdrama_revs'>
   </div>
</div>

{% endblock %}