{% extends 'base.html' %}

{% block title %}Kdrama Review App{% endblock %}

{% block css %}
<link href="/static/css/playlists.css" rel="stylesheet">
<link href="/static/css/review.css" rel="stylesheet">
<link href="/static/css/user.css" rel="stylesheet">
{% endblock %}


{% block js %}
<script src="/static/js/userPlaylists.jsx" type="text/jsx"></script>
<script src="/static/js/reviews.jsx" type="text/jsx"></script>
{% endblock %}

{% block data_attributes %}
<meta id='data' data-api_key={{api_key}}
                data-user={{user.user_id}}
                data-user_id={{user.user_id}}
                data-review_api_url='/reviews?user_id={{user.user_id}}'>
{% endblock %}

{% if session.get('user_id') == user.user_id %}
{% set active_page = 'account' -%}
{% endif %}

{% block body %}

<div class='container'>
   {% if user %}
   <div class='user_card container'>
      <div class='avatar lg'><img id='avatar-img' src={{user.image_path}}/></div>
      <h1>{{user.username}}</h1>
      <h3 class='grey-400 thin'>{{user.fname}} {{user.lname}}</h3>
      <p class='thin'>{{user.email}}</p>
      <p class='thin'>Favorite genre: {{fav_genre}}</p>
   </div>
      {%if edit%}
         <h3>Your Playlists</h3>
      {% else %}
         <h3>{{user.username}}'s Playlists</h3>
      {%endif%}
      <div id='user_playlists' class='flex-container'></div>

      {%if edit%}
         <h3>Your Followed Lists</h3>
      {% else %}
         <h3>{{user.username}}'s Followed List</h3>
      {%endif%}
      <div id='followed_playlists' class='flex-container'></div>

      {%if edit%}
         <h3>Your Reviews</h3>
      {% else %}
         <h3>{{user.username}}'s Reviews</h3>
      {%endif%}
      <div class='reviews flex-container'>
      </div>

   {% endif %}
</div>

{% endblock %}