{% extends 'base.html' %}

{% block title %}Koreview{% endblock %}

{% block css %}
<link href="/static/css/user.css" rel="stylesheet">
{% endblock %}

{% block js %}
{% endblock %}

{% block data_attributes %}
{% endblock %}

{% set active_page = 'users' -%}

{% block body %}
<div class='container'>
{%if similar_users%}
<h2>Users with Same Favorite Genre</h2>
<div class='flex-gap'>
   {%for user in similar_users%}
    <div class='user-card-sm' >
        <a href='profile/{{user.user_id}}' class='flex-gap-1em user'>
            <div class='avatar med'><img id='avatar-img' src={{user.image_path}}/></div>
            <div>
                <h3 style='line-height: 0.5em;'>{{user.username}}</h3>
                <p class='thin dark' style='font-size: 0.9em;'>{{user.fname}} {{user.lname}}</p>
                <p class='thin grey-300' style='font-size: 0.8em;'>
                    <i class="fas fa-heart grey-300"></i> {{user.fav_genre}}</p>
            </div>
        </a>
    </div>
   {%endfor%}
</div>
{%endif%}
<br></br>
{%if all_users%}
<h2>All Users</h2>
<div class='flex-gap'>
   {%for user in all_users%}
    <div class='user-card-sm' >
        <a href='profile/{{user.user_id}}' class='flex-gap-1em user'>
            <div class='avatar med'><img id='avatar-img' src={{user.image_path}}/></div>
            <div>
                <h3 style='line-height: 0.5em;'>{{user.username}}</h3>
                <p class='thin dark' style='font-size: 0.9em;'>{{user.fname}} {{user.lname}}</p>
                <p class='thin grey-300' style='font-size: 0.8em;'>
                    <i class="fas fa-heart grey-300"></i> {{user.fav_genre}}</p>
            </div>
        </a>
    </div>
   {%endfor%}
</div>
{%else%}
<div><h2>No users :(</h2></div>
{%endif%}

</div>

{% endblock %}