{% extends 'base.html' %}

{% block title %}Koreview{% endblock %}

{% block js %}
{% endblock %}

{% block data_attributes %}
{% endblock %}

{% block body %}

<div>
   <h1>Users</h1>
   {%for user in users%}
    <div>
        <div class='avatar med'><img id='avatar-img' src={{user.image_path}}/></div>
        <h3>{{user.fname}} {{user.lname}}</h3>
        <h4>@{{user.username}}</h4>
        <a href='profile/{{user.user_id}}'>Profile</a>
    </div>
    <br></br>

   {%endfor%}
</div>

{% endblock %}