{% extends 'base.html' %}

{% block title %}Koreview{% endblock %}

{% block css %}
<link href="/static/css/user.css" rel="stylesheet">
{% endblock %}

{% block js %}
{% endblock %}

{% block data_attributes %}
{% endblock %}

{% set active_page = 'users' -%}

{% block body %}
<div class='container'>
{%if similar_users%}
<h2>Users with same favorite genre</h2>
<div class='flex-gap'>
   {%for user in similar_users%}
    <div>
        <div class='avatar med'><img id='avatar-img' src={{user.image_path}}/></div>
        <h3>{{user.fname}} {{user.lname}}</h3>
        <h4>@{{user.username}}</h4>
        <a href='profile/{{user.user_id}}'>Profile</a>
    </div>
    <br></br>
   {%endfor%}
</div>
{%endif%}

{%if all_users%}
<h2>All Users</h2>
<div class='flex-gap'>
   {%for user in all_users%}
    <div>
        <div class='avatar med'><img id='avatar-img' src={{user.image_path}}/></div>
        <h3>{{user.fname}} {{user.lname}}</h3>
        <h4>@{{user.username}}</h4>
        <a href='profile/{{user.user_id}}'>Profile</a>
    </div>
    <br></br>
   {%endfor%}
</div>
{%else%}
<div><h2>No users :(</h2></div>
{%endif%}

</div>

{% endblock %}